.transparentInput:disabled {
  border: none !important;
  background: transparent !important;
  text-align: center;
  cursor: pointer;
}

.transparentInput:enabled {
  border: none !important;
  text-align: center;
}

.transparentInput:focus {
  -webkit-box-shadow: inset 1px 1px 1px #bf7300;
  -moz-box-shadow: inset 1px 1px 1px #bf7300;
  box-shadow: inset 1px 1px 1px #bf7300;
  background-color: #d0b35d;
}

.table-sm td, .table-sm th {
  padding-top: .1rem;
  padding-bottom: .1rem;
}