.transparentInput:disabled {
  border: none !important;
  background: transparent !important;
  text-align: center;
  cursor: pointer;
}

.transparentInput:enabled {
  border: none !important;
  text-align: center;
}

.transparentInput:focus {
  border: 2px #bf7300 !important;
}